<nav class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <a href="{{ path('app_home') }}">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <ul class="nav-list">
        <li><a href="{{ path('app_home') }}" class="{% if app.request.get('_route') == 'app_home' %}active{% endif %}">Accueil</a>
        </li>
        <li><a href="{{ path('app_game') }}" class="{% if app.request.get('_route') == 'app_game' %}active{% endif %}">Jeux</a>
        </li>
        {% if not app.user %}
            <li><a href="{{ path('app_login') }}"
                   class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}">Connexion</a></li>
            <li><a href="{{ path('app_register') }}"
                   class="{% if app.request.get('_route') == 'app_register' %}active{% endif %}">Inscription</a></li>
        {% else %}
            <li><a href="{{ path('app_profile') }}"
                   class="{% if app.request.get('_route') == 'app_profile' %}active{% endif %}">Profil</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_dashboard') }}"
                       class="{% if app.request.get('_route') == 'admin_dashboard' %}active{% endif %}">Admin</a></li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
    </ul>
</nav>
