{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app_styles.css') }}">
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>GAME DIARY ! </h1>
    </div>
    {% if app.user %}
        <p>
            Bonjour {{ app.user.name }}, j'espère que tu vas bien !
        </p>
    {% endif %}
    {% if games %}
    <section class="games">

        {% for game in games %}
            <div class="game">
                <img src="{{ game.cover }}" alt="image du jeu {{ game.name }}">
                <a href="{{ path('app_game_show', {'slug': game.slug}) }}">
                    <p class="game-name">{{ game.name }}</p>
                </a>
                <p>({{ game.releasedate|date('d-m-Y') }})</p>
            </div>
        {% endfor %}
        {% else %}
            <p>Désolé, aucun jeu n'est disponible</p>
        {% endif %}
    </section>

    <script src="{{ asset('build/main_js.js') }}"></script>

{% endblock %}
