{% extends 'base.html.twig' %}

{% block title %}Page d'accueil !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/game_styles.css') }}">
{% endblock %}
{% block header %}
    <p>test</p>
{% endblock %}
{% block body %}

    <div class="example-wrapper">
        <h1>GAME DIARY ! </h1>
            <img class="header-image" src="{{ asset('images/header.webp') }}"
                 alt="image de couverture montrant plein de jeux vidéos">
    </div>
    <h2>l’application qui vous permet de garder en mémoire vos souvenirs préférés</h2>
    {% if games %}
    <h3>Les derniers jeux marquants :</h3>
    <section class="games">
        {% for game in games %}
            <div class="game">
                <a href="{{ path('app_game_show', {'slug': game.slug}) }}">
                    <p class="game-name">{{ game.name }}</p>
                    <img src="{{ game.cover }}" alt="image du jeu {{ game.name }}">
                </a>
            </div>
        {% endfor %}
        {% else %}
            <p>Désolé, aucun jeu n'est disponible</p>
        {% endif %}
    </section>
    <h4>Les derniers avis :</h4>
    <section class="reviews">
        {% for review in reviews %}
            <div class="review">
                <img src="{{ review.game.cover }}" alt="image de couverture du jeu {{ review.game.name }}">
                <p>{{ review.game.name }}</p>
                <p> Utilisateur : {{ review.user.name }}</p>
                <p>Note : {{ review.rate }}</p>
                {% if review.comment %}
                    <p>Commentaire : {{ review.comment }}</p>
                {% endif %}
                {% if review.completed != 0 %}
                    <p>Jeu terminé {{ ux_icon('solar:cup-star-bold') }}</p>
                {% else %}
                    <p>Jeu pas terminé {{ ux_icon('fluent:trophy-off-20-regular') }}</p>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    </section>

    <script src="{{ asset('build/main_js.js') }}"></script>

{% endblock %}
