{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/admin_styles.css') }}">
{% endblock %}
{% block body %}
    <h1>Console Administrateur !</h1>

    <h2>Votre boite à outils API :</h2>
    <div class="game_buttons">
        <button onclick="sendPostRequest('{{ path('api_get_categories') }}')">Récupérer les catégories</button>
        <button onclick="sendPostRequest('{{ path('api_get_platforms') }}')">Récupérer les plateformes</button>
        <button onclick="sendPostRequest('{{ path('api_get_games') }}')">Récupérer les jeux</button>
        <button onclick="sendPostRequest('{{ path('api_get_covers') }}')">Récupérer les artworks (peut être un peu
            long !)
        </button>
    </div>
    <p>{{ ux_icon('ci:circle-warning') }} l'ordre des requêtes a son importance <em>(vous ne pouvez pas charger les jeux
            avant d'avoir chargé les catégories/plateformes)</em></p>

    <div class="moderation">
        <h3>Bannir un utilisateur ?</h3>
        {% for user in users %}
            <div>
                <p>{{ user.name }}</p>
                <p>{{ user.email }}</p>
                <form class="delete-form" method="post" action="{{ path('app_profile_delete', {'id': user.id}) }}"
                      onsubmit="return confirm('Voulez vous vraiment supprimer ce compte ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

                    <button class="btn">Supprimer cet utilisateur</button>
                </form>
            </div>
        {% endfor %}
        <h4>Supprimer un avis publié ?</h4>
        {% for review in reviews %}
            <div class="review">
                <p>Avis de {{ review.user.name }}</p>
                <img src="{{ review.game.cover }}" alt="image de couverture du jeu {{ review.game.name }}">
                <p>{{ review.game.name }}</p>
                <p>{{ review.rate }}</p>
                <p>{{ review.comment }}</p>
                <p>{{ review.completed }}</p>
                <form class="delete-form" method="post" action="{{ path('app_review_delete', {'id': review.id}) }}"
                      onsubmit="return confirm('Voulez vous vraiment supprimer cet avis ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ review.id) }}">

                    <button class="btn">Supprimer cet avis</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <div class="loader">
        <img src="images/loader.gif" alt="image de chargement" class="not-visible">
        <p class="not-visible">La requête est en cours, veuillez patienter !</p>
    </div>
    <div class="success-message not-visible">
        <p>Les éléments ont correctement été récupérés !</p>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
