{% extends 'base.html.twig' %}

{% block title %}Les Jeux{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/game_styles.css') }}">
{% endblock %}

{% block body %}
    <h1>Bienvenue dans la page des jeux!</h1>
    {% if games %}
    <div class="categories-list">
        {% for category in categories %}
            <p class="category" onclick="filterCategories('{{ category.name }}')">{{ category.name }}</p>
        {% endfor %}
    </div>
    <p class="reset-category-filter" onclick="filterCategories('')">Enlever le filtre</p>
    <label for="search-game">
        <input type="text" id="search-game" placeholder="Rechercher un jeu par son nom" onkeyup="filterGames()"
               autofocus/>
    </label>
    <section class="games">
        {% for game in games %}
            <div class="game"
                 data-categories="{% for category in game.gameCategories %}{{ category.name | join(',') }} {% endfor %}">
                <a href="{{ path('app_game_show', {'slug': game.slug}) }}">
                <img src="{{ game.cover }}" alt="image du jeu {{ game.name }}">
                    <p class="game-name">{{ game.name }}</p>
                </a>
                <p>({{ game.releasedate|date('d-m-Y') }})</p>
            </div>
        {% endfor %}
        {% else %}
            <p>Désolé, aucun jeu n'est disponible</p>
        {% endif %}
    </section>
    {% block javascripts %}
        <script src="{{ asset('js/dynamicFilter.js') }}"></script>
    {% endblock %}
{% endblock %}
