{% extends 'base.html.twig' %}

{% block title %}{{ game.name }} - Game Diary{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/game_styles_details.css') }}">
{% endblock %}
{% block body %}

    {% if game %}
        <section class="game-details">

            <div class="game">
                <h1>{{ game.name }}</h1>

                <img src="{{ game.cover }}" alt="image du jeu {{ game.name }}">
                {% if app.user %}
                    {% if userList and not userList.getGames().contains(game) %}
                        <form class="add-fav" method="post" action="{{ path('app_list_add', {'id': game.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('add' ~ game.id) }}">
                            <button class="addlist">{{ ux_icon('mdi:heart-outline') }}</button>
                        </form>
                    {% else %}
                        <form class="delete-fav" method="post" action="{{ path('app_list_delete', {'id': game.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('add' ~ game.id) }}">
                            <button class="deletelist">{{ ux_icon('mdi:heart-off-outline') }}</button>
                        </form>
                    {% endif %}
                {% endif %}

                {% include "/_partials/_flashes.html.twig" %}
                <p>{{ game.name }} est sorti le : {{ game.releasedate|date('d-m-Y') }}</p>

                <p>
                    {% for category in game.gameCategories %}
                        <span class="category">{{ category.name }}  </span>
                    {% endfor %}
                </p>
                <p>Disponible sur </p>
                <ul>
                    {% for platform in game.gamePlatforms %}
                        <li>{{ platform.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="game-rate">
            {% if app.user %}
                {% if hasReviewed %}
                    <p>Désolé, mais vous avez déjà noté ce jeu !</p>
                {% else %}
                    <button class="show-review-form">NOTE LE JEU !</button>
                    <div id="review-form" style="display: none;">
                        {{ form_start(form, {'action': path('app_game_review', {'slug': game.slug})}) }}
                        <div class="rating-stars">
                            <span>Votre note :</span>
                            {% for i in 1..5 %}
                                <span class="star" data-value="{{ i }}">★</span>
                            {% endfor %}
                        </div>
                        <!-- Champ caché pour stocker la note -->
                        {{ form_widget(form.rate, {'attr': {'style': 'display:none'}}) }}
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            {% endif %}
        </section>
        <h2>Les derniers avis :</h2>
        <div id="reviews-list">
            <div class="flex">
                {% for review in reviews %}
                <div class="review">
                    <img src="{{ review.game.cover }}" alt="image de couverture du jeu {{ review.game.name }}">
                    <p>Nom : <span>{{ review.user.name }}</span></p>
                    <p>Note : <span>{{ review.rate }}★</span></p>

                    {% if review.comment %}
                        <p>Commentaire : <span>{{ review.comment }}</span></p>
                    {% endif %}
                    {% if review.completed != 0 %}
                        <p>Jeu terminé {{ ux_icon('solar:cup-star-bold') }}</p>
                    {% else %}
                        <p>Jeu non terminé {{ ux_icon('fluent:trophy-off-20-regular') }}</p>
                    {% endif %}
                    <div class="review-vote">
                        <p><span id="review-score-{{ review.id }}"><span
                                        class="cream">Appréciation : </span>{{ review.getScore() }}</span></p>
                        {% if app.user %}
                            {% if app.user != review.user %}
                                <button class="like {{ review.likedByUser ? 'liked' : '' }}"
                                        data-id="{{ review.id }}"
                                        data-type="1"
                                        data-csrf="{{ csrf_token('vote' ~ review.id) }}">
                                    {{ ux_icon('mdi:like') }}
                                </button>

                                <button class="dislike {{ review.dislikedByUser ? 'disliked' : '' }}"
                                        data-id="{{ review.id }}"
                                        data-type="-1"
                                        data-csrf="{{ csrf_token('vote' ~ review.id) }}">
                                    {{ ux_icon('mdi:dislike') }}
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>

            </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <p>Désolé, ce jeu n'est pas disponible</p>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/stars.js') }}"></script>
    <script src="{{ asset('build/rateForm.js') }}"></script>
    <script src="{{ asset('build/vote.js') }}"></script>
{% endblock %}
